header{
	background: #48127E ;
	color: white;

}
nav{
	background: ;
	color: white;
}
section{
	background: #201040;
	color: white;

}
div {
	background:#420182 ;
	color: white;
}
link{
	background-color: aqua;
	color: aqua;
}
